<div id="clock">
  <p ></p>
  <p class="time">{{ HMSTime }}</p>
  <p ></p>
  <section class="timer-button-container">

    <button type="button" class="btn btn-success" *ngIf="!running; else elseBlock" (click)="startTimer()">Start</button>
    <ng-template #elseBlock>
      <button type="button" class="btn btn-danger" (click)="stopTimer()">Stop</button>
    </ng-template>

    <button type="button" class="btn btn-warning" (click)="singleWaitClick()">Wait</button>
    <button type="button" class="btn btn-secondary" (click)="resetTimer()">Reset</button>
  </section>
</div>


